.card-body.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgba(115,134,213,1) 0%, rgba(72,75,228,0.722654027431285) 100%);
}
.row.login{
  justify-content: center;
}
.margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
.center{
  display:flex;
  justify-content: center;
  align-items: center;
}
.bigger{
  padding-top:10px;
  padding-bottom:10px;
}
a[href="/register"] {
  color: white;
  font-size: 16px; 
}