
.default-text{
    color:white;
}
.bg-custom{
    background: rgb(11,0,203);
    background: linear-gradient(90deg, rgba(11,0,203,1) 0%, rgba(42,42,241,1) 75%, rgba(123,103,255,1) 100%);
}
.btn-custom:focus {
    outline: none;
  }
.btn-custom:hover {
    background-color: lightblue;
}
.flex-container-right{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

/* profile.css main section */
.form-box {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-text {
    color: red;
}

.control-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.popup {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
    margin-top: 20px;
}

.popup p {
    margin: 0;
    margin-bottom: 10px;
}

.popup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}