@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    margin:0;
}
.navbar.z{
    z-index: 999;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.default-text{
    color:white;
}
.bg-custom{
    background: rgb(115,134,213);
    background: linear-gradient(90deg, rgba(115,134,213,1) 0%, rgba(72,75,228,0.722654027431285) 100%);
}
.bg-white{
    background-color: white;
}
input[type="search"]:focus {
    border-color: white;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
.btn-custom{
    color: white;
    border: white;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar-btn{
    margin-left: 5px;
    margin-right: 5px;
    height: 80%;
    align-items: center;
}
.btn-custom:focus {
    outline: none;
  }
.btn-custom:hover {
    color: #7386D5;
    background: #fff;
}
.flex-container-right{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
.brand-big{
    font-size:xx-large !important;
}
.body-container {
    width: 100%;
    height: 100vh;
  }
  
#main-content {
    margin-top: 80px;
    float: right;
    width: calc(100% - 250px);
    overflow: auto;
    flex-grow: 1;
  }
.games{
    position: absolute;
    width: 800px;
    height: 300px;
}
.card.margin{
    margin-top:20px;
    margin-bottom:20px;
    box-shadow: 10px 5px 5px gray;
}
.custom-img {
    width: 100%;
    height: 400px; /* Set the desired height */
    object-fit: cover;
}
.hidden {
    display: none;
  }

.toast {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}
  