<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="css\login.css">
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form>
    <p><a href="/register">Don't have an account? Sign up</a></p>
    <div th:if="${error}" class="error-message">
      <p th:text="${error}"></p>
    </div>
  </body>
</html>